<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tos.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SqlMembershipConnection" connectionString="Data Source=tigdb01;Initial Catalog=TosAuthenticationSample;User ID=TOSTEMPLATE_SYSTEM;Password=99-0106@TOSTEMPLATE;" />
    <add name="AuthorityMasterEntities" connectionString="metadata=res://*/Data.AuthorityMaster.csdl|res://*/Data.AuthorityMaster.ssdl|res://*/Data.AuthorityMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=TosAuthenticationSample;User ID=TOSTEMPLATE_SYSTEM;Password=99-0106@TOSTEMPLATE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SampleEntities" connectionString="metadata=res://*/Data.SampleModel.csdl|res://*/Data.SampleModel.ssdl|res://*/Data.SampleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=UITemplateSample;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="SampleEntities" connectionString="metadata=res://*/Data.SampleModel.csdl|res://*/Data.SampleModel.ssdl|res://*/Data.SampleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tigdb01;initial catalog=UITemplateSample;User ID=TOSTEMPLATE_SYSTEM;Password=99-0106@TOSTEMPLATE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <globalization uiCulture="auto" culture="auto" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="On" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite">
      <!--<error statusCode="404" redirect="404.aspx" />-->
    </customErrors>
    <!-- 
      負荷分散環境（複数の Web サーバーに展開する環境）の場合には、 
      認証で利用されるキー情報を統一する必要があるため明示的に Web アプリケーションの構成ファイルに記述します
    -->
    <machineKey validationKey="164C87A334E1A140E1A9DA1FA1FC92B4A5FDD54E" decryptionKey="E96DED80F978D06BD47EBCFE874F4C084BCEC28037DC8398" validation="SHA1" />
    <!-- 
      Widnows 認証（Active Directory による認証）のみの場合には下記のコメントを解除し、
      <authentication mode="Forms" /> タグをコメントアウトします。 
    -->
    <!--<authentication mode="Windows" />-->
    <!-- ASP.NET フォーム認証を構成します -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/WinLogin.aspx" defaultUrl="~/Pages/TreeMenu.aspx" timeout="600" />
      <!--ログイン画面でユーザーを切り替えてテストを実施したい場合には、上記の forms タグをコメントアウトし、下記のコメントを解除してください。-->
      <!--<forms loginUrl="~/Account/Login.aspx" defaultUrl="~/Pages/TreeMenu.aspx" timeout="600" />-->
    </authentication>
    <!-- 
      ASP.NET フォーム認証が既定で利用する Membership Provider を指定します。
      カスタムで認証を行う場合には、下記の設定をコメントアウトしてください。
    -->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" applicationName="/" connectionStringName="SqlMembershipConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <httpRuntime maxRequestLength="51200" />
  </system.web>
  <location>
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Auth">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="api">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account">
    <system.web>
      <authorization>
        <allow users="?" />
        <deny users="ChangePassword.aspx" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Resources">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <applicationSettings>
    <Tos.Web.Properties.Settings>
      <setting name="MaxDownloadCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MaxUploadFileSize" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="SvfServer" serializeAs="String">
        <value>tiggow03</value>
      </setting>
      <setting name="SvfPDFPrinter" serializeAs="String">
        <value>PDF</value>
      </setting>
      <setting name="SvfFormPath" serializeAs="String">
        <value>D:\PRINT1\99_SONOTA\0106_TOSTEMPLATE\frm</value>
      </setting>
      <setting name="UploadTempFolder" serializeAs="String">
        <value>~/Temp</value>
      </setting>
      <setting name="TitleSystemNo" serializeAs="String">
        <value>99_9999</value>
      </setting>
      <setting name="EnableAuthSerivce" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="buildDate" serializeAs="String">
        <value>201511061450</value>
      </setting>
      <setting name="DownloadTempFolder" serializeAs="String">
        <value>~/Download</value>
      </setting>
      <setting name="ExcelTemplateFolder" serializeAs="String">
        <value>~/ExcelTemplates</value>
      </setting>
      <setting name="CommandTimeout" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="DeployEnviromentName" serializeAs="String">
        <value>※デバッグ環境※</value>
      </setting>
      <setting name="DeployEnviromentClass" serializeAs="String">
        <value>deploy-debug</value>
      </setting>
    </Tos.Web.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>