<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://tiggow01</MSDeployServiceURL>
    <DeployIisAppPath>TOSTEMPLATE/WEB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>SYSTEM\nagao.h</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SqlMembershipConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tigdb01;Initial Catalog=TosAuthenticationSample;User ID=TOSTEMPLATE_SYSTEM;Password=99-0106@TOSTEMPLATE;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlMembershipConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tigdb01;Initial Catalog=TosAuthenticationSample;User ID=TOSTEMPLATE_SYSTEM;Password=99-0106@TOSTEMPLATE;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SampleEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tos.Web.Data.SampleEntities, Tos.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AuthorityMasterEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tos.Web.Data.AuthorityMasterEntities, Tos.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthorityMasterEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SampleEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlMembershipConnection-Web.config Connection String" />
  </ItemGroup>
</Project>